.answers{

    align-content: center;
    position: relative;
    left: 290px;

}
.username{
    
    font-weight: bold;
    color: blue;
   
    
<<<<<<< Updated upstream
=======
}
.my_line{

    color: rgb(77, 19, 236);
}
.img{
      width: 18px;
      height: 18px;

>>>>>>> Stashed changes
}