.answers{

    align-content: center;
    text-align: center;
    align-items: center;
    left: 290px;

}
.username{
    
    font-weight: bold;
    color: blue;
   
    
}
.my_line{

    color: rgb(77, 19, 236);
}